.container {
    width: 100%;
}

.tableContainer {
    height: 32rem;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
}

.studentTable {
    border-collapse: collapse;
    border-spacing: 0;
    min-width: 100%;
}

.cellHeading {
    padding: 1rem;
    font-weight: bold;
    color: #000;
    font-size: larger;
    border-bottom: 2px solid #000;
}

.cellData {
    text-align: center;
    color: #000;
    font-size: large;
    font-weight: 500;
    padding: 0.75rem;
    border-bottom: 1px solid #bbbbbb;
}

@media only screen and (max-width: 420px) {
    .cellHeading {
        padding: auto;
        font-size: large;
    }

    .cellData {
        padding: auto;
        font-size: medium;
    }

    .edit {
        width: 2rem;
        font-size: medium;
        padding: 0.5rem 0.75rem;
    }

    .delete {
        width: 2rem;
        font-size: medium;
        padding: 0.5rem 0.75rem;
    }
}

/* .dataRow {
    cursor: pointer;
}

.dataRow:hover {
    background-color: #eee;
} */

.edit {
    width: 6rem;
    background-color: #008cff;
    font-size: large;
}

.edit:hover {
    background-color: #1540ff;
}

.delete {
    width: 6rem;
    background-color: #ff0000;
    font-size: large;
}

.delete:hover {
    background-color: #c00000;
}

.add {
    width: 10rem;
    background-color: #2bff9c;
    font-size: larger;
    font-weight: bold;
    margin-top: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.add:hover {
    background-color: #1add5b;
}

.buttonDisabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.buttonDisabled button {
    cursor: not-allowed;
    pointer-events: none;
}

.empty {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    font-weight: bold;
    color: rgb(255, 51, 0);
    text-align: center;
}