.container {
    width: 100%;
}

.tableContainer {
    height: 32rem;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
}

.studentTable {
    border-collapse: collapse;
    border-spacing: 0;
    min-width: 100%;
}

.cellHeading {
    padding: 1rem;
    font-weight: bold;
    color: #000;
    font-size: larger;
    border-bottom: 2px solid #000;
}

.cellData {
    text-align: center;
    color: #000;
    font-size: large;
    font-weight: 500;
    padding: 0.75rem;
    border-bottom: 1px solid #bbbbbb;
}

.dataRow {
    cursor: pointer;
}

.dataRow:hover {
    background-color: #cccccc;
}

.edit {
    width: 6rem;
    background-color: #008cff;
    font-size: large;
}

.edit:hover {
    background-color: #463177;
}

.delete {
    width: 6rem;
    background-color: #bb1e1e;
    font-size: large;
}

.delete:hover {
    background-color: #4b0c0c;
}

.add {
    width: 10rem;
    background-color: #2bffa7;
    font-size: larger;
    font-weight: bold;
    margin-top: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.add:hover {
    background-color: #1add5b;
}